/*CSS Variables, so that any font or color changes can be updated everywhere at once*/

:root {
  --gold: #d3af22;
  --white: #ffffff;
  --lightgray: #f0f0f0;
  --titlefont: 'Forum', serif;
  --bodyfont: 'Hedvig Letters Serif', serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: var(--lightgray);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 13%;
  padding: 0px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-right: 2px solid var(--gold);
}

.sidebar img{
  width: 100%;
  height: auto;
  margin: auto;
}

.sidebar a.button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--white);
  color: #000000;
  font-family: var(--bodyfont);
  font-weight: bold;
  padding-top: 22%;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  transition: transform .2s;
  -webkit-transition: transform .2s;
  height: 10%;
  text-align: center;
  margin: auto;
  object-fit: cover;
  text-decoration: underline;
  text-decoration-color: var(--gold);
}

.sidebar a.button:hover {
  background-color: var(--gold);
  cursor: pointer;
  transform: scale(1.15);
}

#backgroundpic{
  height: 300px;
  width: 100%;
  float: right;
  object-fit: cover; /* Maintain aspect ratio while resizing */
}


.content{
  float: right;
  width: 87%;
  margin: auto;
  background-color: var(--lightgray);
}

.content h1 {
  text-align: center;
  font-size: 50px;
  margin: auto;
  background-color: var(--gold); 
  width: 100%; /* Take over the entire width of the page */
  line-height: 1.4;
  font-family: var(--titlefont);
}


.content h2{
  display: block;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-family: var(--titlefont);
}

.content p {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 20px;
  font-family: var(--bodyfont);
}


.abtimg{
  width: 80%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}