html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kaushan Script', cursive;
}

.dish{
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  background-color: #b5a642;
  padding: 0px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sidebar h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin: auto;
}

.sidebar a.button {
  background-image: radial-gradient(circle at center, white 50%, #b5a642 150%);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #b5a642;
  border-radius: 25% 25%;
  color: #000000;
  font-family: cursive;
  font-weight: bold;
  padding: 10%;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  margin: auto;
  object-fit: cover;
}

.sidebar a.button:hover {
  background-color: #eee;
  cursor: pointer;
}

.sidebar a.button:active {
  background-color: #ccc;
}

.content{
  float: right;
  width: 90%;
  margin: auto;
}

.content h1 {
  text-align: center;
  font-size: 60px;
  margin: auto;
  background-color: #b5a642; /* Add a grey background */
  width: 100%; /* Take over the entire width of the page */
}

.content img {
  height: 300px;
  width: 100%;
  float: right;
  object-fit: cover; /* Maintain aspect ratio while resizing */
}

.content i {
  display: block;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.content p {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 20px;
}

/* Additional styles for the new buttons and food sections */
.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b5a642;
  padding: 10px;
}

.top-buttons button {
  background-color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #b5a642;
  border-radius: 25% 25%;
  color: #000000;
  font-family: cursive;
  font-weight: bold;
  padding: 4%;
  white-space: nowrap;
  overflow: hidden
  text-align: center;;
}

.top-buttons button:hover {
  box-shadow: 0 40px 80px rgba(1, 1, 1, 0.1);
  transform: translateY(-2px);
  transition: all 0.3s ease-in-out;
  background-color: #eee;
  cursor: pointer;
  
}

.dinner-section{
  display: block;
}

.food-section.active{
  display: block;
}

.menuDishes{
  margin-left: 5%;
  margin-right: 5%;
}